{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <div class="content">
        <div class="blog">
            <h1>Création d'un article</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>    
    </div>
{% endblock %}
