.profile {
    width: 100%;
    @include flex-between;
    flex: 1;
    .presentation {
        padding: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 300px;
        border-right: 1px solid #444;
        height: 100%;
        &--container {
            @include flex-center;
            margin-bottom: 40px;
            p {
                margin: 0 0 0 15px;
                font-weight: bold;
            }
        }
        &--control {
            @include flex-center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
        }
    }  
    .utility {
        flex: 1;
        height: 100%;
        padding: 20px;
    }  
}